.right{
  text-align: right;
  margin: 10px;
}

.right a{
  text-decoration: none;
  font-size: 2em;
}

.fa-linkedin-square{
  color: #0077B5
}

.fa-twitter-square{
  color: #4099ff;
}

.fa-github-square{
  color: #333;
}

.fa-facebook-square{
  color: #3B5998;
}
