.scroller{
  margin-top: 1em;
  .image{
    h3{
    }

    img{
      width: 40%;
      margin-left: auto;
      margin-right: auto;
    }

    p{
      width: 55%;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

*:focus {
  outline: none;
}

