.projects{
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 30px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-content: flex-start;
}

.project{
  width: 30.94%;
  margin: 10px;
  padding: 5px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.project:hover{
  cursor: pointer;
}

img{
  width: 100%;
}

.modal-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-container{
  display: flex;
}

.modal-parent{
  width: 100%;
  height: 100%;
  position: fixed;
}

.modal{
  z-index: 100;
  width: 50%;
  min-width: 50%;
  background: #fff;
  border-radius: 8px;
  padding: 8px;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
}

.modal img{
  width: 90%;
}

.modal h2{
  margin-bottom: 0;
}

.modal p{
  width: 90%;
  margin: 0 auto;
  max-height: 80px;
  overflow-y: scroll;
  text-align: left;
}

.modal a{
  color: #3d8da9;
}

.modal a:hover{
  color: #3A8099;
}
