<div class="contact">
  <div class="sub">
    <h3> Status </h3>
    <p> Although I will be interning as a Google Engineering Practicum the summer of 2018, I am free all spring semester (outside of classes) and if you have a project that you'd like some help with, need a website built, or just want some web development advice, feel free to reach out! </p>

  </div>

  <div class="sub">
    <h3> Contact Information </h3>
    <div class="align-content">
      <div>
        <h4> Email </h4>
        <ul>
          <li> Primary: <a href="mailto:lukerpfeiffer@gmail.com"> lukerpfeiffer@gmail.com</a> </li>
          <li> College: <a href="mailto:lukerpfeiffer@ufl.edu"> lukerpfeiffer@ufl.edu </a> </li>
        </ul>
      </div>

      <div>
        <h4> Social Media </h4>
        <ul>
          <li> Github: <a href="https://github.com/lukepfeiffer"> @lukepfeiffer </a> </li> 
          <li> Linkedin: <a href="https://www.linkedin.com/in/lukerpfeiffer/"> @lukerpfeiffer </a> </li> 
          <li> Twitter: <a href="https://twitter.com/lukerpfeiffer"> @lukerpfeiffer </a> </li> 
          <li> Facebook: <a href="https://www.facebook.com/luke.pfeiffer.7"> Luke Pfeiffer </a> </li> 
        </ul>
      </div>
    </div>
  </div>
</div>
