<h2> Luke Pfeiffer </h2>
<div id="resume">
  <div class="header">
    <p>
      <a href="mailto:lukerpfeiffer@ufl.edu"> lukerpfeiffer@ufl.edu </a>
    </p>
    <p>
      <a href="https://github.com/lukepfeiffer" target="_blank"> https://github.com/lukepfeiffer </a>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/lukerpfeiffer/" target="_blank"> https://www.linkedin.com/in/lukerpfeiffer/</a>
    </p>
  </div>
  <div class="content">
    <h1>Education</h1>
    <div class="category">
      <div class="sub sub-big">
          <div class="subheader">Pursuing BS in Computer Engineering</div>
          <div class="details">University of Florida &bull; December 2020 &bull; GPA: 3.8</div>
        <h4> Courses </h4>
        <ul>
          <li>&bull; Fundamentals of Programming 1 & 2 (COP3502/3)</li>
        </ul>
        <ul>
          <li>&bull; Applications of Discrete Structures (COT3100)</li>
        </ul>
        <ul>
          <li>&bull; Digital Logic and Computer Systems (EEL3701C)</li>
        </ul>

        <ul>
          <li>&bull; Engineering Professionalism and Ethics (EGS4034)</li>
        </ul>
      </div>
    </div>
    <h1>Profesional Experience</h1>
    <div class="category">
      <div class="sub">
        <p>
          <div class="subheader">Software Developer, Intern</div>
          <div class="details">Groundswell &bull; May 2017 - Present</div>
        <ul>
          <li>Ruby on rails &bull;</li>
          <li>Rspec &bull;</li>
          <li>Postgresql</li>
        </ul>
        <ul>
          <li>Git Version Management</li>
        </ul>
        <ul>
          <li>Android Studios Development</li>
        </ul>
        <ul>
          <li>Test Driven Development</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">Software Developer</div>
          <div class="details">Orbital One &bull; March 2017 - August 2017</div>
        <ul>
          <li>Ruby on rails &bull;</li>
          <li>Rspec &bull;</li>
          <li>Mysql</li>
        </ul>
        <ul>
          <li>Git Version Management &bull;</li>
          <li>HTML &bull;</li>
          <li>OAuth</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">Web Developer</div>
          <div class="details">Indepedent Development &bull; August 2016 - Present</div>
        <ul>
          <li>Ruby on rails &bull;</li>
          <li>jQuery &bull;</li>
          <li>CSS &bull;</li>
          <li>HTML</li>
        </ul>
        <ul>
          <li>Healthy Client Relationships</li>
        </ul>
        <ul>
          <li>Responsive Web Design</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">Junior Software Developer</div>
          <div class="details">FreshStart Software &bull; June 2015 - October 2016</div>
        <ul>
          <li>Agile Development &bull;</li>
          <li>jQuery &bull;</li>
          <li>Ruby on Rails</li>
        </ul>
        <ul>
          <li>Test Driven Development &bull;</li>
          <li>Bootstrap</li>
        </ul>
        <ul>
          <li>Git Version Management</li>
        </ul>
      </div>
    </div>
    <h1>Projects</h1>
    <div class="category">
      <div class="sub">
        <p>
          <div class="subheader">Groundswell</div>
          <div class="details">
            <a href="https://app.groundswell.online/"> https://app.groundswell.online/</a>
          </div>
        <ul>
          <li>Test Driven Development &bull;</li>
          <li>JWT Integration</li>
        </ul>
        <ul>
          <li> Microsoft Graph API integration</li>
        </ul>
        <ul>
          <li>jQuery &bull;</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">Blakada</div>
          <div class="details">
            <a href="http://blakada.me"> http://blakada.com </a>
          </div>
        <ul>
          <li>Responsive Web Design &bull;</li>
          <li>jQuery</li>
        </ul>
        <ul>
          <li>Ruby on Rails</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">Destyn Patera</div>
          <div class="details">
            <a href="http://lenseafilm.com"> http://lenseafilm.com </a>
          </div>
        <ul>
          <li>Responsive Web Design &bull;</li>
          <li>jQuery</li>
        </ul>
        <ul>
          <li>Ruby on Rails</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">Smart Pharamcy</div>
          <div class="details">
            <a href="https://smartpharmacy.com"> https://smartpharmacy.com </a>
          </div>
        <ul>
          <li>Twilio Messaging &bull;</li>
          <li>jQuery &bull;</li>
          <li>PDF Generations</li>
        </ul>
        <ul>
          <li>Ruby on Rails</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">Comment Catcher</div>
        <ul>
          <li>Test Driven Development</li>
        </ul>
        <ul>
          <li>Ruby on Rails &bull;</li>
          <li>jQuery</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">Target Zero</div>
          <div class="details">
            <a href="http://www.target-zero.org/"> http://www.target-zero.org/ </a>
          </div>
        <ul>
          <li>Dynamic CMS &bull;</li>
          <li>Postgresql Database</li>
        </ul>
        <ul>
          <li>Google Maps API Calls &bull;</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">DESC of Jacksonville</div>
          <div class="details">
            <a href="http://descjax.org"> http://descjax.org </a>
          </div>
        <ul>
          <li>Test Driven Development &bull;</li>
          <li>Refactoring</li>
        </ul>
        <ul>
          <li>Information Encryption &bull;</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">Personal Website</div>
          <div class="details">https://lukerpfeiffer.com</div>
        <ul>
          <li>Responsive Web Design &bull;</li>
          <li>Angular</li>
        </ul>
        <ul>
          <li>HTML &bull;</li>
          <li>CSS</li>
        </ul>
      </div>
    </div>
    <h1>Involvement</h1>
    <div class="category">
      <div class="sub">
        <p>
          <div class="subheader">Web and Graphic Design Chair</div>
          <div class="details">Association of Computer Engineers &bull; December 2016 - Present</div>
        <ul>
          <li>Organize and present workshops</li>
        </ul>
        <ul>
          <li>Design Promotional Flyers &bull;</li>
          <li>Update Website</li>
        </ul>
        <ul>
          <li>Build External Webapps for Organization</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">IgniteCs Historian</div>
          <div class="details">Google IgniteCs program &bull; March 2017 - May 2017</div>
        <ul>
          <li>Maintained documentation of events</li>
        </ul>
        <ul>
          <li>Developed caring relationships with mentees</li>
        </ul>
        <ul>
          <li>Created surveys</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">ACE Mentor</div>
          <div class="details">Association of Computer Engineers &bull; January 2017 - May 2017</div>
        <ul>
          <li>Taught Java &bull;</li>
          <li>Organized workshops</li>
        </ul>

        <ul>
          <li>Resume Critiques</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">IgniteCs Mentor</div>
          <div class="details">Google IgniteCs program &bull; March 2017 - May 2017</div>
        <ul>
          <li>Mentor disadvantaged youth</li>
        </ul>
        <ul>
          <li>Creative problem solving</li>
        </ul>
        <ul>
          <li>Positive reinforcement</li>
        </ul>
      </div>
    </div>
    <h1>Programming Proficiencies</h1>
    <div class="category">
      <div class="sub">
        <p>
          <div class="subheader">Web Development</div>
        <ul>
          <li>Ruby on Rails &bull;</li>
          <li>jQuery &bull;</li>
          <li>HTML &bull;</li>
          <li>Haml</li>
        </ul>
        <ul>
          <li>CSS &bull;</li>
          <li>SASS &bull;</li>
          <li>Angular (novice)</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">Software Development</div>
        <ul>
          <li>Java &bull;</li>
          <li>Ruby &bull;</li>
          <li>C++ &bull;</li>
          <li>Sql (novice)</li>
        </ul>
        <ul>
          <li>JUnit &bull;</li>
          <li>RSpec &bull;</li>
          <li>Cucumber</li>
        </ul>
      </div>
      <div class="sub">
        <p>
          <div class="subheader">General Skills</div>
        <ul>
          <li>Git Version Management &bull;</li>
          <li>Terminal</li>
        </ul>
        <ul>
          <li>Agile Development &bull;</li>
          <li>Working in Teams</li>
        </ul>
        <ul>
          <li>Test Driven Development</li>
        </ul>
      </div>
    </div>
    <h1>Volunteering</h1>
    <div class="category">
      <div class="sub">
        <p>
          <div class="subheader">Volunteer Web Developer</div>
          <div class="details">DESC of Jacksonville &bull; November 2015 - March 2016</div>
        <ul>
          Helped improve existing functions and deploy new functions to the organization's web application.  DESC provides services for the homeless and those in need.
        </ul>
      </div>
    </div>
  </div>
</div>
