<ul>
  <a routerLink="/about" class="title"> Lukerpfeiffer </a>
  <a routerLink="/about" class="normal-nav"> About </a>
  <a routerLink="/projects" class="normal-nav"> Projects </a>
  <a routerLink="/resume" class="normal-nav"> Resume </a>
  <a routerLink="/contact" class="normal-nav"> Contact </a>
  <i class="fa fa-bars"> </i>
</ul>

<ul class="mobile-nav">
  <a routerLink="/about"><li> About</li> </a>
  <a routerLink="/projects"><li> Projects</li> </a>
  <a routerLink="/resume"><li> Resume</li> </a>
  <a routerLink="/contact"><li> Contact</li> </a>
</ul>
